* {
  font-family: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

#a {
  height: 28px;
  margin-top: 3px;
  padding: 5px;
}

body {
  font-size: 10px;
  background-color: #edeef0;
}

a {
  text-decoration: none;
  color: black;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 20px;
  font-size: 15px;
  justify-content: space-evenly;
  cursor: pointer;
  background: white;
  text-decoration: none;
}

nav ul li {
  padding-left: 5;
  margin: 0 25px;
  font-weight: bold;
  text-align: center;
  padding-left: 20px;
  font-weight: 400;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 1px;
}

header {
  padding: 50;
  background: url(./resources/background.PNG);
}

.column {
  float: left;
  width: 20.33%;
  padding: 5px;
  text-align: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.linkbutton {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-weight: 1000;
  font-size: 1.5em;
  padding: 20px;
  margin-left: 550px;
  border-radius: 30px;
  width: 200px;
  border-color: black;
  background-color: white;

}

#id1 {
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: space-between;
  padding: 25px 0px 0px 100px;
}

ul {
  list-style-type: none;
}

#abc {
  color: gray;
  font-size: 16px;
}

#language {
  font-size: 15px;
  justify-content: space-between;
  display: flex;
  margin-left: 100px;
}

#select {
  font-size: 15px;
  justify-content: space-between;
  display: flex;
  margin-left: 100px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  color: gray;
}

#footer {
  background-color: #101010;
  color: white;
  display: flex;
  padding: 20px;
  font-size: 18px;
  list-style-type: none;
  display: flex;
}

#id3 {
  margin-left: 100px;
  margin-right: 40px;
}

li {
  font-weight: 1.5;
}